---
const personalImageAlt = "Martin Andrés Guerreiro";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy un estudiante apasionado y comprometido en el campo del desarrollo
      web, con conocimientos sólidos en HTML, CSS, JavaScript, y frameworks
      modernos como React, Angular y Astro. Además, tengo experiencia en
      desarrollo back-end utilizando Java, PHP, .NET y SQL, lo que me permite
      abordar proyectos completos desde la interfaz de usuario hasta la gestión
      de bases de datos.
    </p>
    <p>
      He desarrollado proyectos que abarcan desde aplicaciones web interactivas
      hasta sistemas de gestión de contenido.<strong>
        Me destaco por mi capacidad para aprender rápidamente, trabajar en
        equipo y resolver problemas de manera efectiva.</strong
      >
    </p>

    <p>
      Busco una oportunidad para aplicar y expandir mis habilidades en un
      entorno profesional dinámico y desafiante.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/img/perfil.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
